@import url("https://fonts.googleapis.com/css2?family=Hepta+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

html {
  font-size: 62.5%;
}
:root{
  --peach:#f0b877;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", serif;
}
p {
  font-size: 1.6rem;
}
h2 {
  font-size: 2.8rem;
}
h3 {
  font-size: 2.4rem;
}
h4 {
  font-size: 2rem;
  margin-bottom: 1.6rem;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
  font-size: 1.6rem;
}
img {
  object-fit: cover;
}
header img {
  width: 200px;
}

/* Couleurs */
.BckGrndLogo {
  background-color: #ffe5f1;
}
.BckGrndPurple {
  background-color: #570026;
}
.FontClrWht {
  color: white;
}
.ColorGirlie {
  color: #f4dbe5;
}
.BckGrndReview {
  background-color: var(--peach);
}
/* #FFF7D1
#FFB0B0
#FFECC8
#FFD09B
#570026 */

/* Debut Team Positionnement */
.Rltv {
  position: relative;
}
.AbsltZindex1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.Flx {
  display: flex;
  flex-wrap: wrap;
}
.SpcBtwn {
  justify-content: space-between;
}
.SpcArnd {
  justify-content: space-around;
}
.SpcEvnly {
  justify-content: space-evenly;
}
.JstfCntr {
  justify-content: center;
}
.MrgnAuto{
  margin: auto
}
.AlgnItmCntr {
  align-items: center;
}
.Fxd {
  position: fixed;
  z-index: 10;
}
.TxtAlgnCntr {
  text-align: center;
}
.displayBlock {
  display: inline-block;
}
.FlxColumn {
  display: flex;
  flex-direction: column;
}
/* Fin Team positionnement */

/* Dimensions */
.Container {
  width: 80%;
}
.vh50 {
  height: 50vh;
}
.vh100 {
  height: 100vh;
}
.Pddng32 {
  padding: 2rem;
}
.Wdth25Prcnt {
  width: 25%;
}
.VrtclPddng {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
/* Classes composantes */
.BtnNav {
  padding: 0.8rem 1.6rem;
  background-color: var(--peach);
  color: white;
  border-radius: 2rem;
}
.BtnNav:hover {
  background-color: #faa94c;
}
.Hero {
  width: 100%;
  height: 100vh;
  position: relative;
}
.Hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Hero div {
  background-color: rgba(255, 229, 241, 0.934);
  width: 40%;
  max-width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 4rem 2rem;
  border-radius: 0.8rem;
  backdrop-filter: blur(6px);
}
.Hero h2 {
  color: #570026;
  font-family: "Hepta Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 3.2rem;
}
.Hero h1 {
  font-size: 2rem;
  font-weight: 800;
  color: #570026;
  font-family: "Hepta Slab", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  margin-bottom: 1.6rem;
}
.Card {
  width: 30rem;
  height: 20rem;
  color: #f4dbe5;
  text-align: center;
}
.BtnCTA {
  padding: 0.8rem 1.6rem;
  background-color: var(--peach);
  color: white;
  border-radius: 2rem;
  font-size: 2rem;
}
.BtnCTA:hover {
  background-color: #faa94c;
}
/* section avantages */
.divider{
  background-color: #570026;
  display: flex;
  flex-direction: column;
  /* padding: 1rem; */
  fill: #faa94c;
}
.divider img{
  margin: auto;
  display: inline-block;
  fill: #f4dbe5;
  /* color: #f0b877; */
  width: 20%;
padding-bottom: 4rem;
filter: invert(95%) sepia(11%) saturate(744%) hue-rotate(287deg) brightness(100%) contrast(92%);
}
.avantages{
  font-size: 2rem;
  font-weight: 600;
}
/* Section produits */
.h2Prod {
  color: #570026;
  text-align: center;
  margin-bottom: 2rem;
}
.ContainerProd {
  width: 500px;
  height: 500px;
  padding: 1rem;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  margin-right: 1.2rem;
}
.ContainerProd img {
  border-radius: 0.8rem;
}
.DescriptionProd {
  position: absolute;
  top: 60%;
  right: 0;
  z-index: 1;
  width: 300px;
  background-color: var(--peach);
  padding: 1.6rem;
  border-radius: 0.8rem;
  transform: translate(-25%, -25%);
}
.BckGrndProd {
  background-color: var(--peach);
}

/* Section Services */
.CardService {
  width: 256px;
  color: #f4dbe5;
  padding: 1.6rem;
}
.CardService img {
  width: 100%;
  object-fit: cover;
}
.CardService h4 {
  color: #f4dbe5;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
}

/* Section avis clients */
.CardAvis {
  width: 256px;
  border-radius: 0.8rem;
  padding: 1.6rem;
}
.CardAvis p {
  padding: 1rem;
}

/* Section Footer */
footer img {
  width: 200px;
  border-radius: 40rem;
}
footer {
  color: #f4dbe5;
}
footer a {
  font-size: 1.6rem;
  color: #f4dbe5;
}
footer address a {
  display: block;
}