html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  font-size: 1.6rem;
}
h1 {
  font-size: 2.6rem;
  font-weight: 800;
  color: #570026;
  color: white;
}
h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 2rem;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
  font-size: 1.6rem;
}
img {
  object-fit: cover;
}
header img {
  width: 100px;
}

/* Couleurs */
.BckGrndLogo{
  background-color: #ffe5f1;
}
.FontClrWht {
  color: white;
}
#FFF7D1
#FFB0B0
#FFECC8
#FFD09B

/* Debut Team Positionnement */
.Rltv {
  position: relative;
}
.AbsltZindex1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.Flx {
  display: flex;
  flex-wrap: wrap;
}
.SpcBtwn {
  justify-content: space-between;
}
.SpcArnd {
  justify-content: space-around;
}
.SpcEvnly{
  justify-content: space-evenly;
}
.JstfCntr{
  justify-content: center;
}
.AlgnItmCntr {
  align-items: center;
}
.Fxd {
  position: fixed;
  z-index: 10;
}
.TxtAlgnCntr{
  text-align: center;
}
.displayBlock {
  display: inline-block;
}
/* Fin Team positionnement */

/* Dimensions */
.Container {
  width: 80%;
}
.vh50 {
  height: 50vh;
}
.vh100 {
  height: 100vh;
}
.Pddng32{
  padding: 2rem;
}
.Wdth20Prcnt{
  width: 25%;
}
/* Classes composantes */
.BtnNav{
  padding: 0.8rem 1.6rem;
  background-color: #FFD09B;
  color: white;
  border-radius: 2rem;
}
.Hero {
  width: 100%;
  height: 100vh;
  position: relative;
}
.Hero img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Hero div {
  background-color: rgba(42, 38, 38, 0.347);
  width: 50%;
  /* absolute est par rapport à un relatif ou relatif le plus proche */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 3rem 2.4rem;
  border-radius: 0.8rem;
  backdrop-filter: blur(6px);
  /* FLOUTER */
}